html,
body,
.theme {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.chart-container {
    position: relative;
    width: 100%;
}

.page {
    position: absolute;
    padding: var(--main-margin);
    width: calc(100% - var(--main-margin) * 2);
    min-height: calc(100% - var(--main-margin) * 2);
    height: max-content;

    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    font-size: 22px;

    background-color: rgb(var(--color-background));
}

#tooltip {
    position: absolute;
    width: max-content;
    max-width: 60vw;
    height: max-content;

    padding: calc(var(--main-margin) / 2);
    
    font-size: 0.8em;
    border-radius: calc(var(--main-margin) / 2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-text));
    overflow: hidden;

    touch-action: none;
    -ms-touch-select: none;
    user-select: none;

    opacity: 0;
    pointer-events: none;
    z-index: 300;
    transition: 0.1s;
    transition-property: opacity;
}

#tooltip::before {
    position: absolute;
    left: calc(var(--main-margin) / -2);
    top: calc(var(--main-margin) / -2);
    content: "";
    width: calc(100% + var(--main-margin) / 2);
    height: calc(100% + var(--main-margin) / 2);

    background-color: rgba(255, 255, 255, 0.02);
    z-index: -1;
}

#tooltip>#values {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#tooltip>#values>.graph-value {
    flex-grow: 1;
    margin-right: calc(var(--main-margin) / 2);
}

#tooltip>#values .value {
    margin-top: 0.5em;

    font-size: 1.25em;
    font-weight: bold;
    line-height: 80%;
}

#tooltip>#values .name {
    font-size: 0.8em;
    font-weight: bold;
}

.space {
    display: block;
    position: relative;
    height: 96px;
    width: 0px;
}

/*========BUTTON STYLES========*/

.chart-graph-button {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: calc(var(--main-margin) / 1.3) calc(var(--main-margin) / 1.3) 0 0;
    padding: 0 calc(var(--button-size) / 3) 0 calc(var(--button-size) / 6);
    width: max-content;
    height: var(--button-size);

    text-align: center;
    line-height: var(--button-size);
    font-size: calc(var(--button-size) / 2.2);

    border-radius: var(--button-size);
    border: calc(var(--button-size) / 16) solid;
    background-color: transparent;
    color: rgb(var(--color-text));
    overflow: hidden;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.2s;
    transition-property: background-color;
    user-select: none;
}

.chart-graph-button-cover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;

    border-radius: var(--button-size);
    background-color: rgb(var(--color-background));
    transition: 0.2s;
    transition-property: opacity;
    z-index: 0;
}

.chart-graph-button-name {
    position: relative;
    z-index: 1;
    left: calc(var(--button-size) * -0.35 + var(--button-size) / 12);

    transition: 0.2s;
    transition-property: left;
}

.chart-graph-button-icon {
    transition: 0.2s;
    transition-property: opacity;
    z-index: 1;
}

.chart-graph-button>input:checked~.chart-graph-button-name {
    left: 0;
    color: white !important;
}

.chart-graph-button>input:not(:checked)~.chart-graph-button-icon {
    opacity: 0;
}

.chart-graph-button>input:not(:checked)~.chart-graph-button-cover {
    opacity: 1;
}

.chart-graph-button>.chart-graph-button-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(var(--button-size) * 0.7);
    width: calc(var(--button-size) * 0.7);

    border-radius: 100%;
}

.chart-graph-button>.chart-graph-button-icon::before {
    content: "";
    position: absolute;
    transform: rotate(-45deg);

    margin-top: calc(var(--button-size) / -16);
    width: calc(var(--button-size) / 3);
    height: calc(var(--button-size) / 6);

    border-bottom: solid calc(var(--button-size) / 16) currentColor;
    border-left: solid calc(var(--button-size) / 16) currentColor;
    border-radius: calc(var(--button-size) / 32);

    font-size: calc(var(--button-size) / 2);
    color: white;

    transition: 0.3s;
    transition-property: transform;
}

.chart-graph-button:active>.chart-graph-button-cover {
    opacity: 0.5 !important;
}

/*========THEME STYLES========*/

.theme>input {
    position: absolute;
    height: 0;
    width: 0;

    opacity: 0;
}

.theme-switch {
    position: absolute;
    bottom: calc(var(--main-margin) * 2);
    width: calc(100% - var(--main-margin) * 2);

    text-align: center;
    color: rgb(var(--color-link));

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.theme>input:checked~.page>.theme-switch>.day {
    display: none;
}

.theme>input:not(:checked)~.page>.theme-switch>.night {
    display: none;
}

.page {
    --main-margin: 14px;
    --preview-size: 48px;
    --button-size: 32px;

    --lowlight: 0.25;
    --color-text: 232, 236, 238;
    --color-background: 36, 47, 62;
    --color-link: 16, 139, 227;
    --color-content: 19, 24, 32;
}

.theme>input:checked~.page {
    --lowlight: 0.05;
    --color-background: 255, 255, 255;
    --color-text: 34, 34, 34;
    --color-link: 16, 139, 227;
    --color-content: 202, 202, 202;
}