.page {
    --main-margin: 14px;
    --preview-size: 48px;
    --button-size: 40px;

    --lowlight: 0.25;
    --color-text: 232, 236, 238;
    --color-background: 36, 47, 62;
    --color-link: 16, 139, 227;
    --color-content: 19, 24, 32;
}

.theme>input:checked~.page {
    --lowlight: 0.05;
    --color-background: 255, 255, 255;
    --color-text: 34, 34, 34;
    --color-link: 16, 139, 227;
    --color-content: 202, 202, 202;
}

html,
body,
.theme {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.page {
    position: absolute;
    padding: var(--main-margin);
    width: calc(100% - var(--main-margin) * 2);
    min-height: calc(100% - var(--main-margin) * 2);
    height: max-content;

    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    font-size: 22px;

    background-color: rgb(var(--color-background));
}

.title {
    display: block;
    position: relative;
    top: var(--main-margin);
    margin-left: calc(var(--main-margin) / 2);
    margin-bottom: var(--main-margin);

    font-weight: bold;
    color: rgb(var(--color-text));

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    cursor: pointer;
}

.hint {
    position: absolute;
    margin-left: calc(var(--main-margin) / 2);
    transform: translateY(calc(var(--main-margin) / -2));
    
    font-size: 0.5em;
    color: rgb(var(--color-text));

    opacity: 0.5;
    user-select: none;
}

#render {
    position: relative;
    top: var(--main-margin);
    width: 100%;
    height: 50vh;
    margin-bottom: var(--main-margin);
}

#render>#chart {
    position: absolute;
    width: 100%;
    height: calc(100% - 24px);
}

#render>#layout {
    position: absolute;
    width: 100%;
    height: 100%;
}

#tooltip {
    position: absolute;
    width: max-content;
    max-width: 60vw;
    height: max-content;

    padding: calc(var(--main-margin) / 2);
    
    font-size: 0.8em;
    border-radius: calc(var(--main-margin) / 2);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-text));
    overflow: hidden;

    touch-action: none;
    -ms-touch-select: none;
    user-select: none;

    opacity: 0;
    pointer-events: none;
    z-index: 300;
    transition: 0.1s;
    transition-property: opacity;
}

#tooltip::before {
    position: absolute;
    left: calc(var(--main-margin) / -2);
    top: calc(var(--main-margin) / -2);
    content: "";
    width: calc(100% + var(--main-margin) / 2);
    height: calc(100% + var(--main-margin) / 2);

    background-color: rgba(255, 255, 255, 0.02);
    z-index: -1;
}

#tooltip>#values {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#tooltip>#values>.graph-value {
    flex-grow: 1;
    margin-right: calc(var(--main-margin) / 2);
}

#tooltip>#values .value {
    margin-top: 0.5em;

    font-size: 1.25em;
    font-weight: bold;
    line-height: 80%;
}

#tooltip>#values .name {
    font-size: 0.8em;
    font-weight: bold;
}

.preview {
    position: relative;
    top: var(--main-margin);
    width: 100%;
    height: var(--preview-size);

    touch-action: none;
    -ms-touch-select: none;
    user-select: none;
}

.preview>.cover {
    position: absolute;
    height: 100%;

    background-color: rgba(var(--color-background), 0.6);
    filter: brightness(calc(1 - var(--lowlight)));
}

.preview>#cover-left {
    left: 0;
}

.preview>#cover-right {
    right: 0;
}

.preview>#select {
    --border: 1px;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - var(--border) * 2);
    min-width: 48px;
    max-width: calc(100% - var(--border) * 8);

    border: var(--border) solid rgba(var(--color-text), 0.2);
    border-left-width: calc(var(--border) * 4);
    border-right-width: calc(var(--border) * 4);

    cursor: grab;
}

.preview>#select:active {
    cursor: grabbing;
}

.preview>#select>.dragger {
    position: absolute;

    height: 100%;
    width: 24px;

    cursor: ew-resize;
    z-index: 100;
}

.preview>#preview {
    position: absolute;
    width: 100%;
    height: 100%;
}

#left-dragger.dragger {
    left: -18px;
}

#right-dragger.dragger {
    right: -18px;
}

.graphs {
    position: relative;
    top: calc(var(--main-margin) * 1.5);
}

.button {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: calc(var(--main-margin) / 1.3) calc(var(--main-margin) / 1.3) 0 0;
    padding: 0 calc(var(--button-size) / 3) 0 calc(var(--button-size) / 6);
    width: max-content;
    height: var(--button-size);

    text-align: center;
    line-height: var(--button-size);
    font-size: calc(var(--button-size) / 2.2);

    border-radius: var(--button-size);
    border: calc(var(--button-size) / 32) solid rgba(var(--color-text), 0.15);
    background-color: transparent;
    color: rgb(var(--color-text));
    overflow: hidden;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: 0.2s;
    transition-property: background-color;
    user-select: none;
}

.button:active {
    background-color: rgba(0, 0, 0, var(--lowlight));
}

.button:active>.icon::after {
    filter: brightness(calc(1 - var(--lowlight)));
}

.button>.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 calc(var(--button-size) / 4) 0 0;
    height: calc(var(--button-size) * 0.7);
    width: calc(var(--button-size) * 0.7);

    border-radius: 100%;
    background-color: rgb(var(--color-text));
}

.button>.icon::before {
    content: "";
    position: absolute;
    transform: scale(0.8) rotate(-45deg);

    margin-top: calc(var(--button-size) / -16);
    width: calc(var(--button-size) / 3);
    height: calc(var(--button-size) / 6);

    border-bottom: solid calc(var(--button-size) / 16) currentColor;
    border-left: solid calc(var(--button-size) / 16) currentColor;
    border-radius: calc(var(--button-size) / 32);

    font-size: calc(var(--button-size) / 2);
    color: white;

    transition: 0.3s;
    transition-property: transform;
}

.button>.icon::after {
    content: "";
    position: absolute;
    --border: calc(var(--button-size) / 20);

    top: var(--border);
    left: var(--border);

    width: calc(100% - var(--border) * 2);
    height: calc(100% - var(--border) * 2);

    border-radius: 100%;

    background-color: rgb(var(--color-background));

    transition: 0.2s;
    transition-property: transform, filter;
}

.button>input,
.theme>input {
    position: absolute;
    height: 0;
    width: 0;

    opacity: 0;
}

.button>input:checked~.icon::after {
    transform: scale(0);
}

.button>input:checked~.icon::before {
    transform: rotate(-45deg);
}

.theme-switch {
    position: absolute;
    bottom: calc(var(--main-margin) * 2);
    width: calc(100% - var(--main-margin) * 2);

    text-align: center;
    color: rgb(var(--color-link));

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.theme>input:checked~.page>.theme-switch>.day {
    display: none;
}

.theme>input:not(:checked)~.page>.theme-switch>.night {
    display: none;
}

.space {
    display: block;
    position: relative;
    height: 96px;
    width: 0px;
}